<footer class="footer">
  <div class="footer-container container">
    <div class="text-footer">
      <div class="text-footer-wrapper">
        <picture>
          <source
            srcset="
              ./img/header/logo-1x-min.webp 1x,
              ./img/header/logo-2x-min.webp 2x
            "
            media="(min-width:768px)"
            width="70"
            height="70"
          />
          <source
            srcset="
              ./img/header/logo-1x-min.webp 1x,
              ./img/header/logo-2x-min.webp 2x
            "
            media="(max-width:767px)"
            width="40"
            height="40"
          />
          <img
            class="footer-img"
            src="./img/header/logo-1x-min.webp"
            alt="Lloyd Jefferson photo"
            loading="lazy"
          />
        </picture>

        <h2>Let's <span>work</span></h2>
      </div>
      <h2>together</h2>
    </div>

    <form id="form-footer">
      <div class="footer-form-wrapper">
        <div class="input-footer">
          <input
            class="email-input"
            type="email"
            id="email"
            placeholder="clients@gmail.com"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          />
          <input
            class="comment-input"
            type="text"
            id="comment"
            placeholder="comments"
          />
        </div>
        <button class="footer-button">Send</button>
      </div>
    </form>

    <address class="contact-footer">
      <a class="address-link-footer" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
      >
      <a class="address-link-footer" href="tel:+3801111111111"
        >+380 11 1111 11 11</a
      >
    </address>
  </div>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Your message has been successfully sent!</p>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var form = document.getElementById("form-footer");
    var modal = document.getElementById("myModal");
    var span = document.querySelector(".modal-content .close");


    form.addEventListener("submit", function(event) {
      event.preventDefault(); // Prevent form submission

      var email = document.getElementById("email").value;
      var comment = document.getElementById("comment").value;

      // Perform your validation here if needed

      // Simulating POST request to the server
      // Replace this with your actual AJAX request
      // Here I'm just simulating a successful response after 1 second
      setTimeout(function() {
        modal.style.display = "block"; // Show modal
        form.reset(); // Reset form
      }, 1000);
    });

    span.addEventListener("click", function() {
      modal.style.display = "none"; // Close modal
    });
  });
</script>

